*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}
html body{
    display: flex;
    justify-content: center;
}

.container_window{
    max-width: 1400px;
    width: 100%;

}


.navbar{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 56px;
    background-color: white;
    top: 0px;
    width: 100%;
    padding:0px 30px;
   
}
.logo{
    display: flex;
    align-items: center;
}
.logo svg{
    width:124px;
    height: 24px;
}

.menu_section{
    display: flex;
    justify-content: right;
    align-items: center;
}
.menu_section button{
    padding: 6px 18px;
    border: none;
    color: #171a20;
    font-weight: light;
    font-size: 16px;
    border-radius: 4px;
    transition: all;
    
}
.menu_section button:hover{
    background-color: rgb(236, 235, 235);
    
}

/* resposnsive for mobile */
@media (min-width: 300px) and (max-width: 600px) {
    .navbar {
        background-color: black;
    }
    .logo svg{
        width:80px;
        height:14px ;
        color: white;
    }
    .menu_section button{
        background-color: transparent;
        color: white;
    }
}


/*---------------------------- main base container coding start here------------------------------- */

.main_base_container{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-auto-flow: row;
    row-gap: 120px;
    /* border: 1px solid black; */
}

/* ------------------------schdule_drive_base------------------------ */
.schdule_drive_base{
    display:grid;
    grid-auto-flow: row;
    justify-content: center;
}

/* ----------------------------------schdule_drive_heading-------------------------- */
.schdule_drive_heading{
    font-size:52px; 
    padding :40px 40px 40px 10px ;
    color: #171a20;
}

/* ------------------------s_d_card------------------------ */
.s_d_card{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    gap: 40px;
    padding: 8px;
}

.card{
    display: grid;
    grid-template-columns: 0.2fr 2fr;
    gap: 20px;
}

.icon1{
    /* border: 1px solid black; */
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#393c41;
}

.card1-statement{
    font-size: 16px;
    font-weight: 400;
    color:#393c41;
}






/* ----------------------------select_model_base-------------------------------- */

.select_model_base{
    padding: 0px 80px 0px 80px;
    display: grid;
    gap: 8px;
    grid-auto-flow: row;
}
.select_model_heading{
    color:#171a20;
}




.card_image_base{
    display: grid;
    grid-template-columns: 1.8fr 2fr;
    gap: 18px;
    /* border: 1px solid black; */
}
.card2{
    /* border: 1px solid black; */
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

.card_section{
    border: 1px solid black;
    border-radius: 4px;
    padding: 18px 12px;
    display: grid;
    gap: 10px;
    grid-auto-flow: row;

}
/* .card_section:hover{
    filter: none;
} */
.card_section h4{
    font-size: 20px;
    color: #171a20;
}
.card_section p{
    font-size: 14px;
    color:#171a20;
    font-weight: 400;
}

.car_images{
    border-radius: 8px;
    
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-Y-Standard-Desktop-Dynamic-Asset.jpg"); 
    /* border: 1px solid black; */
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition:  ease-in s;
}

@media (min-width: 300px) and (max-width: 600px) {
    .schdule_drive_heading{
        text-align: center;
        padding: 40px;
    }
    
    .main_base_container{
        row-gap: 100px;
    }
    
    .select_model_base{
        padding: 0px;
    }
    .card_image_base{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 2fr 1fr;
    }
    .card2 {
        display: flex;
        grid-row: 2;
        padding: 4px 16px;
        overflow: scroll;
    }
    .card2::-webkit-scrollbar{
        scrollbar-width: none;
    }
    .select_model_heading {
    color: #171a20;
    padding: 0px 16px;
    }
    .card_section{
        flex: 0 0 40%;
    }


}

/*------------ responsive for tablets ------------------ */

@media (min-width: 768px) and (max-width: 1023px) {
    
    .select_model_base{
        padding: 0px;
    }
    .card_image_base{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 3fr 1fr;
    }
    .car_images{
        grid-row: 1;
    }
    .card2 {
        display: grid;
        grid-auto-flow: column;
        grid-row: 2;
        padding: 0px 0px 0px 64px;
        overflow: scroll;
    }
    .card2::-webkit-scrollbar{
        scrollbar-width: none;
    }
    .card_section{
        height: 12rem;
        width: 18rem;
        display: flex;
        flex-direction: column;
    }

}



/* -------------------location_selct section start here ------------------------ */
.location_selct_base{
    padding: 0px 80px 0px 80px;
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
}
.Input{
    width: 40rem;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 4px;
    overflow: hidden;
}
.Input input{
    font-size: 14px;
    padding: 14px 14px 14px 0px;
    width: 100%;
    border: none;

}
.Input input:focus{
  outline: none;
  
}
.Input i{
    /* border: 1px solid rgb(112, 112, 112); */
    border-right: None;
    padding: 0px 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (min-width: 300px) and (max-width: 600px){
    .Input{
        width: 100%;
    }
    .location_selct_base{
        padding:0px 16px;
        gap: 0;
    }
    .Input input{
        width: 100%;
        padding: 2px;
    }
}

/*------------ responsive for tablets ------------------ */

@media (min-width: 768px) and (max-width: 1023px) {
    .Input{
        width: 100%;
    }
    .main_base_container{
        row-gap: 100px;
    }
    .Input input{
        width: 100%;
    }
    .location_selct_base{
        padding: 0px 20px;
    }
    .location_selct_base h1{
        text-align: center;
    }
    .location_selct_base p{
        text-align: center;
    }
}


/* ------------------------driver_details_base---------------------- */


.driver_details_base{
    padding: 0px 80px 0px 80px;
    color: #5c5e62;
}

.driver_detail_card{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 10px;   
    /* border: 1px solid black; */
}

.form_base{
    /* border: 1px solid black; */
    display: grid;
    gap: 50px;
    grid-auto-flow: row;
}
.form_car_image{
    background-image: url("https://digitalassets.tesla.com/discovery-tesla-com/image/upload/f_auto,q_auto/Form-Model-Y-NV36-Desktop-Modify-Appointment.png");
    object-fit: cover;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.form_input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}
.first_name{
    display: flex;
    flex-direction: column;
}
.last_name{
    display: flex;
    flex-direction: column;
}
.form_input div input{
    padding: 14px;
    border-radius: 4px;
    border: none;
    background-color: #f4f4f4;
}

.check_input {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    font-size: 18px;
}

.submit_btn {
    display: flex;
   
}
.submit_btn button{
    padding: 14px;
    width: 20vw;
    border-radius: 8px;
    border: none;
    background-color: #3e6ae1;
    color: #fff;
    font-size: 14px;
}


@media (min-width: 300px) and (max-width: 600px) {
    .form_car_image{
        display: none;
    }
    .driver_details_base{
        display:block;
        padding: 16px;
    }
    .form_input{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
    }
    .driver_detail_card{
        display: block;
    }
    .submit_btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .submit_btn button{
        width: 40vw;

    }


}


/*------------ responsive for tablets ------------------ */
@media (min-width: 768px) and (max-width: 1023px) {
    .form_car_image{
        display: none;
    }
    .driver_detail_card{
        display: block;
    }
    .form_input{
        grid-template-columns: unset;

    }
        
    .submit_btn button{
        width: 100%;
    }

    

}

/* ----------------------------------para_base---------------------------------- */

.para_base{
    padding: 0px 80px 0px 80px;
    font-size: 16px;
    font-weight: 400;
    color:#393c41;
    text-align: center;
}

@media (min-width: 300px) and (max-width: 600px) {
    .para_base{
        padding: 14px;
    }
}
/*------------ responsive for tablets ------------------ */
@media (min-width: 768px) and (max-width: 1023px) {
    .para_base{
        color: #393c41;
        font-weight: 500;
    }
}




/* -------section 6 styling  start here------------ */
.section6{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* border: 1px solid black; */
}

.links_base{
    width: 70%;
    padding: 16px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.links{
    font-size: 12px;
    text-decoration: none;
    color: #393c41;
}
.footer_container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    
}

/* section 6 responsive here */
@media (min-width: 300px) and (max-width: 600px){
    .section6{
        width: 100vw;
        height: fit-content;
    }
    .links_base{
        display: grid;
        text-align: center;
        gap: 10px;
    }
    .footer_container{
        gap: 12px;
        margin-bottom: 20px;
    }
}

/*------------ responsive for tablets ------------------ */
@media (min-width: 768px) and (max-width: 1023px) {
    .links_base{
        width: 100%;
    }
}
