*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}
html body{
    overflow-x: hidden;
    width: 100%;
}


.navbar{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 56px;
    background-color: white;
    top: 0px;
    width: 100%;
   
}
.logo{
    display: flex;
    padding-left: 30px;
    align-items: center;
}
.logo svg{
    width:124px;
    height: 24px;
}

.menu_section{
    display: flex;
    padding-right: 20px;
    justify-content: right;
    align-items: center;
}
.menu_section button{
    padding: 6px 18px;
    border: none;
    color: #171a20;
    font-weight: light;
}
.menu_section button:hover{
    background-color: rgb(236, 235, 235);
}

/* resposnsive for mobile */
@media (min-width: 300px) and (max-width: 600px) {
    .navbar {
        background-color: transparent;
        position: absolute;
    }
    .logo svg{
        width:80px;
        height:14px ;
        color: white;
    }
    .menu_section button{
        background-color: transparent;
        color: white;
    }
}


/*---------------------------- main base container coding start here------------------------------- */

.main_base_container{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-auto-flow: row;
    row-gap: 150px;
    /* border: 1px solid black; */
}

/* ------------------------schdule_drive_base------------------------ */
.schdule_drive_base{
    display:grid;
    grid-auto-flow: row;
    justify-content: center;
}

/* ----------------------------------schdule_drive_heading-------------------------- */
.schdule_drive_heading{
    font-size:40px;
    padding :40px 40px 40px 10px ;
    color: #171a20;
}

/* ------------------------s_d_card------------------------ */
.s_d_card{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    gap: 40px;
    padding: 8px;
}

.card{
    display: grid;
    grid-template-columns: 0.2fr 2fr;
    gap: 20px;
}

.icon1{
    /* border: 1px solid black; */
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#393c41;
}

.card1-statement{
    font-size: 14px;
    font-weight: 400;
    color:#393c41;
}






/* ----------------------------select_model_base-------------------------------- */

.select_model_base{
    padding: 0px 80px 0px 80px;
    display: grid;
    gap: 8px;
    grid-auto-flow: row;
}
.select_model_heading{
    color:#171a20;
}

.card_image_base{
    display: grid;
    grid-template-columns: 1.8fr 2fr;
    gap: 18px;
    /* border: 1px solid black; */
}
.card2{
    /* border: 1px solid black; */
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

.card_section{
    border: 1px solid black;
    border-radius: 4px;
    padding: 18px 12px;
    display: grid;
    gap: 10px;
    grid-auto-flow: row;
    /* filter: blur(1px); */
}
/* .card_section:hover{
    filter: none;
} */
.card_section h4{
    font-size: 17px;
    color: #171a20;
}
.card_section p{
    font-size: 12px;
    color:#171a20;
    font-weight: 400;
}

.car_images{
    border-radius: 8px;
    box-shadow: 0.5px 0px 20px rgb(31, 59, 31);
    background-image: url("https://digitalassets.tesla.com/discovery-tesla-com/image/upload/f_auto,q_auto/Selector-Model-X-Desktop-1753921727.png");
    /* border: 1px solid black; */
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

/* -------------------location_selct section start here ------------------------ */
.location_selct_base{
    padding: 0px 80px 0px 80px;
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}
.Input{
    display: flex;
    flex-direction: row;
}
.Input input{
    font-size: 14px;
    padding: 14px 14px 14px 0px;
    width: 40vw;
    border: 1px solid rgb(112, 112, 112);
    border-left: None;
}
.Input i{
    border: 1px solid rgb(112, 112, 112);
    border-right: None;
    padding: 0px 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* ------------------------driver_details_base---------------------- */


.driver_details_base{
    padding: 0px 80px 0px 80px;
    color: #5c5e62;
}

.driver_detail_card{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    /* border: 1px solid black; */
}

.form_base{
    /* border: 1px solid black; */
    display: grid;
    gap: 50px;
    grid-auto-flow: row;
}
.form_car_image{
    background-image: url("https://digitalassets.tesla.com/discovery-tesla-com/image/upload/f_auto,q_auto/Form-Model-Y-NV36-Desktop-Modify-Appointment.png");
    object-fit: cover;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.form_input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}
.first_name{
    display: flex;
    flex-direction: column;
}
.last_name{
    display: flex;
    flex-direction: column;
}
.form_input div input{
    padding: 14px;
    border-radius: 4px;
    border: none;
    background-color: #f4f4f4;
}

.check_input {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    font-size: 18px;
}
 


.submit_btn {
    display: flex;
   
}
.submit_btn button{
    padding: 14px;
    width: 20vw;
    border-radius: 8px;
    border: none;
    background-color: #3e6ae1;
    color: #fff;
    font-size: 14px;
}

/* ----------------------------------para_base---------------------------------- */

.para_base{
    padding: 0px 80px 0px 80px;
    font-size: 18px;
    color:#393c41;
}






/* -------section 6 styling  start here------------ */
.section6{
 
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* border: 1px solid black; */
}

.links_base{
    height: 30px;
    width: 70%;
    padding: 16px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.links{
    font-size: 12px;
    text-decoration: none;
    color: #393c41;
}
/* section 6 responsive here */
@media (min-width: 300px) and (max-width: 600px){
    .section6{
        width: 100vw;
    }
    .links_base{
        display: grid;
        text-align: center;
    }
}
