*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.section1{
    display: grid;
    grid-template-rows: 0.6fr 5fr;
    /* border: 1px solid black; */
    height: 500px;
}
.navbar{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo{
    display: flex;
    padding-left: 30px;
    align-items: center;
}
.logo svg{
    width:124px;
    height: 24px;
}

.menu_section{
    display: flex;
    padding-right: 20px;
    justify-content: right;
    align-items: center;
}
.menu_section button{
    padding: 6px 18px;
    border: none;
    color: #171a20;
    font-weight: light;
}
.menu_section button:hover{
    background-color: rgb(236, 235, 235);
}

/* intor new car modles */

.new_car_adv{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Promo-Meet-Model-3-Desktop.jpg");
    background-position: center;
    background-size: cover;

}

.modle_sectio{
    padding: 4px;
    width: 350px;
    height: 375px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    text-align: center;
}
.modle_sectio h1{
    color: white;
    font-size: 56px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.modle_sectio_button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.modle_sectio_button button{
    height: 40px;
    width: 164px;
    border: none;
    border-radius: 4px;
}

.pic_cange_section{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap:4px;
}
.pic_change{
    height: 15px;
    width: 15px;
    background-color: white;
    border:none;
    border-radius: 50%;
}
.pic_change:hover{
    background-color: lightblue;
}

