*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}
html body{
    overflow-x: hidden;
    width: 100%;
}


.navbar{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 56px;
    background-color: white;
    position: sticky;
    top: 0px;
    width: 100%;
   
}
.logo{
    display: flex;
    padding-left: 30px;
    align-items: center;
}
.logo svg{
    width:124px;
    height: 24px;
}

.menu_section{
    display: flex;
    padding-right: 20px;
    justify-content: right;
    align-items: center;
}
.menu_section button{
    padding: 6px 18px;
    border: none;
    color: #171a20;
    font-weight: light;
}
.menu_section button:hover{
    background-color: rgb(236, 235, 235);
}

/* resposnsive for mobile */
@media (min-width: 300px) and (max-width: 600px) {
    .navbar {
        background-color: transparent;
        position: absolute;
    }
    .logo svg{
        width:80px;
        height:14px ;
        color: white;
    }
    .menu_section button{
        background-color: transparent;
        color: white;
    }
}

/*---------section 1  intro new car modles-------- */
.section1{
    display: grid;
    grid-template-rows: 1fr;
    /* border: 1px solid black; */
    height: 420px;
    overflow: hidden;
    z-index: -1;
}
.new_car_adv_base{
    height: 100%;
    width: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    transition: transform 2s ease;
    flex: 0 0 100%;
    gap: 20px;
    z-index: -1;
}

.new_car_adv{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* border-radius: 18px; */
    flex: 0 0 100%;

}

.modle_sectio{
    padding: 4px;
    width: 350px;
    height: 375px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    text-align: center;
}
.modle_sectio_3{
    height: 150px;
}
.modle_sectio_3 a{
    font-weight: lighter;
}
/* heading section styling */
.modle_sectio h1{
    color: white;
    font-size: 56px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/* buttons section styling */
.modle_sectio_button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* buttons_styling to change picture */
.modle_sectio_button button{
    height: 40px;
    width: 164px;
    border: none;
    border-radius: 4px;
}

.pic_cange_section{
    height: 20px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.pic_change{
    height: 10px;
    width: 10px;
    background-color: lightgray;
    border:none;
    border-radius: 50%;
}


.car_adv_img1{
     background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Promo-Meet-Model-3-Desktop.jpg");
    background-position: center;
    background-size: cover;

}
.car_adv_img2{
     background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Promo-Meet-Model-Y-Desktop.jpg");
    background-position: center;
    background-size: cover;

}
.car_adv_img3{
     background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Promo-Cybertruck-Desktop-US-v2.jpg");
    background-position: center;
    background-size: cover;
}

/* ------responsive base styling start here for mobile phones which have 600px width-------- */
@media (min-width: 300px) and (max-width: 600px) {
   
    .new_car_adv_base{
        width: 600px;
    }
    .new_car_adv{
        background-position: center center;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 0 0 70%;
        padding-left: 50px;
        padding-top: 70px;
    }
    .modle_sectio {
    padding-left: 10%;
    width: 100px;
    height: 200px;
 
    }
    .model_name{
        padding-top: 10px;
    }
    .modle_sectio h1{
        font-size: 32px;
    }
    .modle_sectio_button button{
    height: 20px;
    width: 100px;
    font-size: 10px;
    }
    .modle_sectio_button{
    
    gap: 10px;
    }
    .modle_sectio_3{
        height: 100px;
    }
  
}

/* Section 2 styling start herer */
.section2{
    overflow: hidden;
    margin-top: 50px;
    height: 540px;
    
    /* border: 1px solid black; */
    padding: 0px 25px;
    width: 100%;
   
}
.moving_window{
    display: flex;
    scroll-behavior: smooth;
    gap: 20px;
    margin-top: 50px;
    height: 480px;
    /* border: 1px solid black; */
    padding: 0px 32px;
    width: auto;
    max-width: 100%;
    z-index: -1;
    transition: transform 1s ease;
    
}
.car_model_card{
    height: 100%;
    width: 80%;
    flex: 0 0 80%;
    /* border: 1px solid black; */
    border-radius: 12px;
    padding: 18px;
    background-size: cover;
    display: grid;
     z-index: -1;
    grid-template-rows: 4fr 1.8fr;
    
}

.model_name{
    color: white;
    font-size: 14px;
}
.Car_info{
    display: grid;
    align-items: flex-end;
}

.heading_model_name{
    height: 100px;
    display: grid;
    grid-auto-flow: row;
}
.svg_height{
    height: 100px;
        display: grid;
    grid-auto-flow: row;
}
.heading_model_name h1{
    font-size: 40px;
    color: white;
}
.heading_model_name a{
    color: white;
    font-size: 17px;
    font-weight: lighter;
    width: 200px;
    letter-spacing: 0.6px;
}

.car_order_button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    height:40px;
    gap: 17px;
    
}
.car_order_button button{
    border:none;
}
.img1{
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-Y-Standard-Desktop-Dynamic-Asset.jpg");

}
.img2{
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-3-Standard-Desktop.jpg");
}
.img3{
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Cybertruck-Desktop-US-v2.jpg");
}
.img4{
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-X-New-Desktop-US-v4.jpg");
}
.img5{
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-S-Desktop-US-v3.jpg");
    
}

/* card_moving_button */

.card_moving_button{
    width: 100%;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.button{
    height: 10px;
    width: 10px;
    border: none;
    border-radius: 50%;
    background-color: rgb(143, 142, 142);
    background-color: lightgray;
    cursor: pointer;
}
/* responsive for mobile */
@media (min-width: 300px) and (max-width: 600px){
    .car_model_card{
        flex: 0 0 115%;
        width: 320px;
    }
    .car_model_card{
        width: 320px;
    }
    .heading_model_name h1{
    font-size: 35px;
    color: white;
    width: 200px;
}
.car_order_button{
    width: 200px;
}
    .car_model_card {
        width: 320px;
        background-size: 300%;
        background-repeat: no-repeat;
        background-position: 60% 60%;
    }
    
}

/* seciton4 styling */

.section4{
    height: auto;
    margin-bottom: 100px;
    display: grid;
    gap: 40px;
    grid-auto-flow: row;
    /* border: 1px solid black; */
    padding: 0px 32px;
    width: 100%;
}

/* limited_offer_section */
.limited_offer_section{
    /* border: 1px solid black; */
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 20px;
}
/* card styling */
.offer_card{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 12px;
    background-color:#e3e3e3ea;
}
.offer_card img{
    height: 200px;
    object-fit: cover;
    width: 100%;
}
/* card heading styling */
.offer_card h1{
    font-size: 28px;
    color: #171a20;
    font-weight: lighter;
    margin-bottom: 10px;
}
.offer_card p{
    font-size: 16px;
    color: #171a20;
    font-weight: lighter;
    margin-bottom: 30px;
}
.offer_card button{
    height: 40px;
    width: 50%;
    background-color: #fff;
    border: none;
    transition: background-color 0.1s linear;
}
.offer_card button:hover{
    background-color:#e3e3e3ea;

}
/* section 4 responsive for mobile width upto 300 to 600px */
@media (min-width: 300px) and (max-width: 600px) {
    .limited_offer_section{
        display: flex;
        flex-direction: column;
    }
    .offer_card{
        width: 100%;
    }

    
}


/* video section */
.video_section{
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-FSD-Tablet-Poster.jpg");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-rows: 0.5fr 3fr 1.5fr;
    padding: 8px;
}
/* pause button */
.pause_button{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 18px;
}
.pause_button button{
    background-color: transparent;
    height: 30px;
    width: 30px;
    border: none;
    
}
.self_drive_section{
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: flex-end;
    padding: 0px 18px;
    
}
.self_drive_section h1{
    font-size: 40px;
    color: #f4f4f4;
}
.demo_drive_seciton{
    display: grid;
    gap: 20px;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    width: 35%;
    padding: 10px;
    
}
.demodrive{
    height: 40px;
    border: none;
    border-radius: 8px;

}
.blue_button_hover{
    background-color: #3e6ae1 ;
    color: #ffffff;
}
.blue_button_hover:hover{
    background-color: #2b499d;

}
/* responsive for mobile */
@media (min-width: 300px) and (max-width: 600px){
    .demo_drive_seciton{
        width: 100%;
    }
    
}

/* image section discovery */

.discovery{
   height: 100%;
   height: 900px;
   background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Features-Desktop.png");
   /* background-position: center; */
   background-size: 130%;
   background-position: left center;
   background-repeat: no-repeat;
   display: grid;
   grid-template-rows: 10fr 1fr 0fr;
   padding: 10px 32px;
   align-items: flex-end;
}
.discovery h1{
    font-size: 40px;
    display: flex;
    align-items:flex-end;
    color: #f4f4f4;
}
.discovery_btn_section{
    display: flex;
    align-items: center;
}

.discovery_btn{
    height: 40px;
    width: 200px;
    border-radius: 8px;
    border: none;
}



/* section 4 styling start form here */
.section5{
    height: 400px;
    /* border: 1px solid black; */
    padding: 0px 32px;
    overflow-x: hidden; 
   
}



.card2_base{
    height: 100%;
    width: 100%;
    display: flex;
    overflow: visible;
    scroll-behavior: smooth;
    z-index: -1;
    gap: 20px;
    max-width: 100%;
    transition: transform 1s ease;
    
}

.card2{
    
    width: 620px;
    /* border:1px solid black; */
    height: 100%;
    display: flex;
    gap: 5px;
    align-items: flex-end;
    padding: 16px;
    border-radius: 12px;
    background-repeat: no-repeat;
    /* transition: transform 1s ease; */
    flex: 0 0 60%;
}
.card_heading_btn{
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px 10px;

}
.card2_btn_base{
    margin-top: 10px;
    width: 300px;
    height: 100%;
    display: grid;
    height: 60px;
    gap:20px;
    grid-template-columns: 1fr 1fr;

}
/* heading */
.card_heading_btn h1{
    font-size: 40px;
    color: #f4f4f4;
}
.card_heading_btn p{
    font-weight: lighter;
    color: #f4f4f4;
}

.card2_btn{
    height: 40px;
    border: none;
    border-radius: 8px;
}

/* card2 background images */
.card2_1{
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Solar-Panels-Desktop-v2.jpg");
    background-position: center center;
    background-size: 130%;
}
.card2_2{
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Powerwall-Desktop.png");
    background-position: center center;
    background-size: 130%;
}
.card2_3{
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Megapack-Desktop-v2.jpg");
    background-position: center center;
    background-size: 130%;
}
.card2_4{
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Solar-Roof-Desktop.png");
    background-position: center center;
    background-size: 130%;
}


/* -----------card2_scrolling_btn_section------------ */
.card2_scrolling_btn_section{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 30px;
    transition: transform 1s ease;
    

    
}
/* -------card2_scroll_btn-------- */
.card2_scroll_btn{
    height: 10px;
    width: 10px;
    background-color: lightgray;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.1s linear;
}
@media (min-width: 300px) and (max-width: 600px){
  
    .card2{
        background-size: 130%;
    }
    .discovery{
        height: 400px;
        width: 100%;
        grid-template-rows: 0.7fr 0.2fr 0.2fr;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-end;
    }
    .discovery_btn_section{
        display: flex;
        padding-right: 100px;
    }
    
}

/* -------section 6 styling  start here------------ */
.section6{
 
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* border: 1px solid black; */
}

.links_base{
    height: 30px;
    width: 70%;
    padding: 16px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.links{
    font-size: 12px;
    text-decoration: none;
    color: #393c41;
}

/* ---------footer styling start from here--------- */
.footer{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    position:fixed;
    bottom: 0px;
    background-color: #fff;
}
.footer_btn_base{
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid black; */
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    background-color: transparent;
}
.footer_btn{
    color: #393c41;
    font-weight:460;
    background-color: #e9e7e7;
    height: 40px;
    border:1px solid #9e9e9e;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
