*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
html body{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
   
}
.window_container{
    max-width: 1400px;
    width: 100%;
    display: grid;
    gap: 2rem;
}
.nav_search_base{
    position: relative;
    height: 280px;
    width: 100%;
    display: grid;
    /* border: 1px solid black; */
    grid-template-rows: 1fr 0fr;
    
}
.nav_base{
    /* border: 1px solid black; */
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Support-Main-Hero-01-Desktop.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    
}

/*---------- search bar code here------------ */
.search_bar_base{
    padding: 8px;
    position: absolute;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.search_bar{
    display:flex;
    border:1px solid white;
    width: 25%;
    height: 2.5rem;
    position: absolute;
    border-radius: 4px;

}
.search_bar svg{
    background-color:white;
    color: gray;
    height: auto;
    width: 2rem;
}
.search_bar input{
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding-left: 8px;
    color: gray;

}
.search_bar input::placeholder{
    font-weight: 400;
    font-size: 16px;
}
.search_bar input:focus{
    outline: none;
}

@media (min-width: 300px) and (max-width: 600px) {
    .search_bar_base{
        position: relative;
        top: 0%;
        align-items: center;
    }
    .nav_search_base{
        grid-template-rows: 1fr 0.2fr;
        gap: 40px;
    }
    .search_bar{ 
        width: 70%;
        height: 4rem;
        border: 2px solid #e0e0e0;
    }
}







.navbar{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 0.5fr;
    height: 56px;
    background-color: transparent;
    width: 100%;
    z-index: 2;
   
}
.logo{
    display: flex;
    padding-left: 30px;
    align-items: center;
}
.logo svg{
    padding: 2px;
    height: 50% ;
    width: 8rem;
    color:#f0f0f0
}
.logo svg:hover{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
}
/* ----------------nav icons--------------- */
.nav_icons{
    padding: 8px;
    display: flex;
    justify-content: center;
}
.nav_icons ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav_icons ul li{
    float: left;
    list-style-type: none;
    font-weight: 450;
    
}
.nav_icons_btn{
    padding: 8px 8px;
    border: none;
    font-weight: 450;
    background-color: transparent;
    transition: background-color 0.5s ease;
    border-radius: 4px;
    color: white;
    /* border: 1px solid black; */
}
.nav_icons_btn:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color:#171a20;
}


/* ------- buttons show in navbar at 1200px widht-------------- */
.max_width_btn{
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid black; */

}

 
@media(max-width:1200px){
    .nav_icons{
        display: none;
    }
    .max_width_btn{
        display: none;
    }
    .navbar{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


}
@media(min-width:1200px){
    .menu_button{
        display: none;
    }
}



.menu_section{
    display: flex;
    padding-right: 20px;
    justify-content: right;
    align-items: center;
    position: relative;
    /* border: 1px solid black; */
    
}

.menu_section button{
    padding: 6px 18px;
    border: none;
    color: #171a20;
    font-weight: light;
    background-color: transparent;
    border-radius: 4px;
    color: #f0f0f0;

}

.menu_section button:hover{
    color:#171a20;
    background-color: rgba(255, 255, 255, 0.5);
}





/* resposnsive for mobile */
@media (min-width: 300px) and (max-width: 600px) {
    .navbar {
        background-color: transparent;
        position: absolute;
    }
    .logo svg:hover{
    border: 2px solid white;
    border-radius: 4px;
    }
    .logo svg{
        width:80px;
        height:14px ;
        color: white;
    }
    .menu_section button{
        background-color: transparent;
        color: white;
    }
}



/* ----------container info base code here ---------*/
.container_info_base{
    padding: 0px 8rem;
    display: grid;
    gap: 4rem;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 5rem;
}
.tran_topic_base{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
/* 
    border: 1px solid black; */
}

.trend_links{
    display: flex;
    justify-content: space-between;

}

.treand_heading h1{
    font-size: 28px;
    color: #171a20;
    font-weight: 450;
    padding: 16px 0px;
    /* border: 1px solid black; */
}
.trend_links a{
    text-decoration: none;
    color: #171a20;
    font-size: 14px;
    font-weight: 400;
    transition: color 0.5s ease;
}
.trend_links a:hover{
   
    text-decoration: 1px solid underline;
    color: #3e6ae1;
    cursor: pointer;
}
/* resposnsive for tablet */
@media (min-width: 700px) and (max-width: 1024px) {
    .container_info_base{
        padding: 0rem 1rem;
    }
}


/* resposnsive for mobile */
@media (min-width: 300px) and (max-width: 600px) {

    .container_info_base{
        padding: 0rem 1rem;
        margin-top: 2.5rem;
    }
    .tran_topic_base{
        grid-template-rows: unset;
        gap: 10px;
    }
    .trend_links{
        display: grid;
        gap: 15px;
    }
    .treand_heading h1{
        font-size: 32px;
    }
    .trend_links a{
        font-size: 18px;
        font-weight: 450;
    }
}


/*---------- Vehical and Energy code here----------- */

.vehical_energy_base{
    display: grid;
    gap: 10px;
    /* border: 1px solid black; */
}
.v_e_heading{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.vehical_container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.vehical_container h1{
    font-weight: 450;
    font-size: 20px;
}
.energy_container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.energy_container h1{
    font-size: 20px;
    font-weight: 450;
}


.v_e_info1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 1px solid black; */
    justify-content: center;
    margin-top: 2rem;
    padding: 0px 4rem;
}
/* .vehical_card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vehical_card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vehical_card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.vehical_card1 h3{
    padding: 16px 4px;
    /* text-align: center; */
    margin-bottom: 2rem;
    font-size: 16px;
}
.vehical_card2 h3{
    padding: 16px 4px;
    /* text-align: center; */
    margin-bottom: 2rem;
    font-size: 16px;
}
.vehical_card3 h3{
    padding: 16px 4px;
    /* text-align: center; */
    margin-bottom: 2rem;
    font-size: 16px;
}
.vehical_links{
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    /* justify-content: center; */
    
}
.vehical_links a{
    text-decoration: none;
    color: #5c5e62;
    font-size: 13px;
    font-weight: 450;
    transition: color 0.5s ease;
}
.vehical_links a:hover{
    text-decoration: 1px solid underline;
    color: #3e6ae1;
    cursor: pointer;
}



/* -----vehical_card2 setyling here--- */
.v_e_info2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 1px solid black; */
    justify-content: center;
    margin-top: 2rem;
    padding: 0px 4rem;
}



.energy_card1 h3{
    padding: 16px 4px;
    /* text-align: center; */
    margin-bottom: 2rem;
    font-size: 16px;
}
.energy_card2 h3{
    padding: 16px 4px;
    /* text-align: center; */
    margin-bottom: 2rem;
    font-size: 16px;
}
.energy_card3 h3{
    padding: 16px 4px;
    /* text-align: center; */
    margin-bottom: 2rem;
    font-size: 16px;
}
.energy_links{
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    /* justify-content: center; */
    
}

.energy_links a{
    text-decoration: none;
    color: #5c5e62;
    font-size: 13px;
    font-weight: 450;
    transition: color 0.5s ease;
}
.energy_links a:hover{
    text-decoration: 1px solid underline;
    color: #3e6ae1;
    cursor: pointer;
}

/* resposnsive for tablet */
@media (min-width: 700px) and (max-width: 1024px) {
    .v_e_info2{
        padding: 0px 1rem;
    }
    .v_e_info1{
        padding: 0px 1rem;
    }
}
/* resposnsive for mobile */
@media (min-width: 300px) and (max-width: 600px) {
    .v_e_info1{
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0px 1rem;
        justify-content: normal;
        gap: 1.5rem;
        
    }
    .v_e_info2{
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0px 1rem;
        justify-content: normal;
        gap: 1.5rem;
    }
    .energy_container h1{
        font-size: 28px;
    }
    .vehical_container h1{
        font-size: 28px;
    }

    .vehical_card1 h3{
        font-size: 22px;
    }
    .vehical_card2 h3{
        font-size: 22px;
    }
    .vehical_card3 h3{
        font-size: 22px;
    }
    .vehical_links a{
        font-size: 18px;
        font-weight: 600;
    }
    

    .energy_card1 h3{
        font-size: 22px;
    }
    .energy_card2 h3{
        font-size: 22px;
    }

    .energy_card3 h3{
        font-size: 22px;
    }

    .energy_links a{
        font-size: 18px;
        font-weight: 600;
    }
}


/* video guide base code here */
.video_guide{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    /* border : 1px solid black; */
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
    gap: 2rem;
}
.v_g_image{
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/main-support-landing-tesla-app");
    background-position: center;
    background-size: cover;
}
.image_context_base{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
.image_context{
    display: grid;
    gap: 2rem;
    align-items: center;
    padding: 4px 42px 4px 0px;
}
.image_context p{
    color: #393c41;
    font-weight: 400;
    font-size: 14px;
}
.image_context h2{
    font-size: 20px;
    color:#171a20;
    font-weight: 450;
}
.image_context a{
    color: #171a20;
    font-weight: 450;
    font-size: 14px;
    transition: color 0.25s ease;
}
.image_context a:hover{
    text-decoration: 1px solid underline;
    color: #3e6ae1;
    cursor: pointer;
}
/* resposnsive for tablet */
@media (min-width: 700px) and (max-width: 1024px) {
    .video_guide{
        grid-template-columns: 1fr 1fr;
    }
    .image_context{
        padding: 0rem;
    }
}


/* resposnsive for mobile */
@media (min-width: 300px) and (max-width: 600px) {
    .video_guide{
        height: auto;
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
    }
    .image_context_base{
        margin-left:0px;
    }

    .image_context h2{
        font-size: 28px;
    }
    .image_context a {
        font-size: 18px;
    }
    .image_context p {
        font-size: 18px;
    }
}



/* ------getting started section start here --------*/

.getting_start{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    /* border : 1px solid black; */
    width: 100%;
    height: 400px;
    margin-bottom: 100px;
    gap: 2rem;
}

.g_s_image{
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/support-getting-started.jpg");
    background-position: center;
    background-size: cover;
}

.gs_image_context_base{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
.gs_image_context{
    display: grid;
    gap: 2rem;
    text-align: right;
    align-items: center;
    padding: 4px 42px 4px 0px;
}
.gs_image_context p{
    color: #393c41;
    font-weight: 400;
    font-size: 14px;
}
.gs_image_context h2{
    font-size: 20px;
    color:#171a20;
    font-weight: 450;
}
.gs_image_context_links{
    display: grid;
    width: 100%;
    gap:1rem;
    
}

.gs_image_context a{
    color: #171a20;
    font-weight: 450;
    font-size: 14px;
    transition: color 0.25s ease;
}
.gs_image_context a:hover{
    text-decoration: 1px solid underline;
    color: #3e6ae1;
    cursor: pointer;
}

/* resposnsive for tablet */
@media (min-width: 700px) and (max-width: 1024px) {
    .getting_start{
        grid-template-columns: 1fr 1fr;
    }
    .gs_image_context_base{
        margin: 0rem;
    }

}


/* resposnsive for mobile */
@media (min-width: 300px) and (max-width: 600px) {
   .getting_start{
        height: auto;
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
    }
    .gs_image_context_base{
        margin-left:0px;
    }
    .g_s_image{
        grid-row: 1;
    }
    .gs_image_context{
        text-align: left;
    }
    .gs_image_context h2 {
        font-size: 28px;
    }
    .gs_image_context p {
        font-size: 18px;
    }
    .gs_image_context a {
        font-size: 14px;
    }
}




/* -------get personal support section start here----- */
.s_footer{
    display: grid;
    /* border: 1px solid black; */
    width: 100%;
}
.get_pers_support_base{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
    background-color: #f4f4f4;
    padding: 4rem 0rem 2rem 0px;
}
.gps_container{
    display: grid;
    gap: 1rem;
    text-align: center;
    /* border: 1px solid black; */
    width: 50rem;
}
.gps_btn_base{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gps_btn_base button{
    border: 2.5px solid #171a20;
    border-radius: 4px;
    padding: 10px 64px;
    font-size: 12px;
    font-weight: 450;
    transition: all 0.5s ease;
    background-color: #fff;
}
.gps_btn_base button:hover{
    border: 2.5px solid #f4f4f4;
    background-color: #171a20;
    outline: 1px solid #171a20;
    color: #f4f4f4;
}
.gps_container h1{
    font-size: 28px;
    font-weight: 500;
    color: #171a20;
}
.gps_container p{
    color: #393c41;
    font-weight: 500;
    font-size: 12px;
    word-spacing: 1px;
    padding: 0px 16px;
}

/* resposnsive for mobile */
@media (min-width: 300px) and (max-width: 600px) {
    .gps_container{
        width: 100%;
    }
    .gps_btn_base button{
        width: 100%;
        font-size: 18px;
    }
     .gps_container p{
        font-size: 18px;
        word-spacing: 0px;
    }
    .get_pers_support_base{
        padding: 4rem 1rem 2rem 1rem;
    }
}



/* ----------footer code start here----------------- */
.support_footer{
    /* border: 1px solid black; */
    background-color:#393c41;
    padding: 2rem;
    /* height: 30rem; */
}
.footer_container{
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
}

.footer_map{
    display: flex;
    gap: 2rem;
    justify-content: right;
    border-right: 1px solid #5c5e62;
    border-bottom:1px solid #5c5e62;
    height: 100%;
    padding: 1rem;
}
.store_location a{
    font-size: 14px;
    font-weight: 450;
    color: #f4f4f4;
    text-decoration: none;
}
.location_map{
    display: flex;
    flex-direction: column;
}
.location_map a{
    text-decoration: none;
    color: #f4f4f4;
    font-weight: 450;
    font-size: 14px;
    margin-bottom: 1rem;
}


.footer_links1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 2rem;
    gap: 2rem;
    border-bottom: 1px solid #5c5e62;
}
.link_container1 ul{
    display: grid;
    gap: 0.5rem;

}
.link_container1 ul li{
    list-style-type: none;

}
.link_container1 ul li a{
    text-decoration: none;
    color: #f4f4f4;
    font-weight: 450;
    font-size: 14px;
}
.link_container1 ul li a:hover{
    text-decoration: 1px solid underline;
}


/* ---------list 2 -------------- */
.link_container2 ul{
    display: grid;
    gap: 0.5rem;

}
.link_container2 ul li{
    list-style-type: none;

}
.link_container2 ul li a{
    text-decoration: none;
    color: #f4f4f4;
    font-weight: 450;
    font-size: 14px;
}
.link_container2 ul li a:hover{
    text-decoration: 1px solid underline;
}

/* ------------------list 3---------------- */


.link_container3 ul{
    display: grid;
    gap: 0.5rem;

}
.link_container3 ul li{
    list-style-type: none;

}
.link_container3 ul li a{
    text-decoration: none;
    color: #f4f4f4;
    font-weight: 450;
    font-size: 14px;
}
.link_container3 ul li a:hover{
    text-decoration: 1px solid underline;
}


/* ------footer_links2 code here------ */
.footer_links2{
    padding: 1rem;
    height: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.footer_links2 a{
    text-decoration: none;
    color: #f4f4f4;
    font-weight: 450;
    font-size: 14px;
    transition: all 1.5s ease;
}
.footer_links2 a:hover{
    text-decoration: 1px solid underline;
}

/* resposnsive for tablet */
@media (min-width: 700px) and (max-width: 1024px) {
    .footer_container{
        grid-template-columns: 1.5fr 0.8fr;
    }

}
/* resposnsive for mobile */
@media (min-width: 300px) and (max-width: 600px) {
    .footer_container{
        grid-template-columns:unset;
    }
    .footer_links1{
        grid-row: 1;
        border: none;
    }
    .footer_map{
        border: none;
    }

}


