*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}
html body{
    overflow-x: hidden;
    width: 100%;
}


.navbar{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 56px;
    background-color: white;
    position: sticky;
    top: 0px;
    width: 100%;
   
}
.logo{
    display: flex;
    padding-left: 30px;
    align-items: center;
}
.logo svg{
    width:124px;
    height: 24px;
}

.menu_section{
    display: flex;
    padding-right: 20px;
    justify-content: right;
    align-items: center;
}
.menu_section button{
    padding: 6px 18px;
    border: none;
    color: #171a20;
    font-weight: light;
}
.menu_section button:hover{
    background-color: rgb(236, 235, 235);
}

/* resposnsive for mobile */
@media (min-width: 300px) and (max-width: 600px) {
    .navbar {
        background-color: transparent;
        position: absolute;
    }
    .logo svg{
        width:80px;
        height:14px ;
        color: white;
    }
    .menu_section button{
        background-color: transparent;
        color: white;
    }
}

/*---------video and information section start here------------*/

.container_base{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding:0px 32px;
    gap: 10px;
    /* border: 1px solid black; */
}




/* ----------------video section start here-------------------------- */

.container_video_base{
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 0.8fr 0.1fr;
      gap: 30px;


}

.video_container{
    height: 500px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.video_container video{
    height: 100%;
    width: 100%;
    object-fit:  cover;
    border-radius: 32px;

}
.pause_play_btn{
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
}
.pause_play_btn{
    display: none;
}
.pause_play_btn_base:hover{
    .pause_play_btn{
        display: block;
    }
}

.icons_container{
    /* border: 1px solid black; */
    display: flex;
    gap: 10px;

}

.icons_container button{
    padding: 8px 32px;
    border: none;
    box-shadow: 1px 1px 4px black;
    border-radius: 8px;

}



/* --------------information section start here ---------------*/

.container_info_base{
    display: grid;
    overflow: scroll;
    padding: 32px 8px;
    /* border: 1px solid black; */
    gap: 80px;
    height: 91vh;
}

.heading_para{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid black; */
    gap: 30px;
}

.select_product {
    display: grid;
    grid-auto-flow: row;
    /* border: 1px solid black; */
    padding: 8px;
    gap: 10px;
}
.product{
    color :#5c5e62;
    padding: 22px;
    border: 1px solid #5c5e62;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.product:hover{
    color :#171a20;
    /* border: 2px solid #171a20; */
}

.btn_para_base {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    justify-content: center;

}
.btn_base{
    display: flex;
    justify-content: center;
}
.btn_base button{
    font-size: 18px;
    padding:18px 4px;
    width:50%; 
    background-color: #3e6ae1;
    color: #fff;
    border-radius: 8px; 
    border: none;
    transition: 0.5s ease-in;
}
.btn_base button:hover{
    background-color: #243e86;

}
